* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Arial Narrow Bold', Helvetica, Arial, sans-serif;
  background-image: url('images/bg.jpg');
  background-size: cover;
  background-position: center;
}

header,
footer {
  position: fixed;
  left: 0;
  width: 100vw;
  color: var(--blue);
  text-align: center;
  font-family: 'Arial Narrow Bold';
  font-size: 18px;
  line-height: 87%;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--blue);
}

header {
  top: 20px;
}

footer {
  bottom: 20px;
}

section.slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1,
  h2 {
    color: var(--blue);
    text-align: center;
    font-family: 'Arial Narrow Bold';
    font-size: 36px;
    line-height: 87%;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--blue);
  }
}

body {
  .slide {
    display: none;
  }

  &#slide1 {
    .slide1 {
      display: flex;
    }
  }

  &#slide2 {
    .slide2 {
      display: flex;
    }
  }

  &#slide3 {
    .slide3 {
      display: flex;
    }
  }

  &#slide4 {
    .slide4 {
      display: flex;
    }
  }

  &#slide5 {
    .slide5 {
      display: flex;
    }
  }

  &#slide6 {
    .slide6 {
      display: flex;
    }
  }

  &#slide7 {
    .slide7 {
      display: flex;
    }
  }

  &#slide8 {
    .slide8 {
      display: flex;
    }
  }

  &#slide9 {
    .slide9 {
      display: flex;
    }
  }

  &#slide10 {
    .slide10 {
      display: flex;
    }
  }

  &#slide11 {
    .slide11 {
      display: flex;
    }
  }

  &#slide12 {
    .slide12 {
      display: flex;
    }
  }

  &#slide13 {
    .slide13 {
      display: flex;
    }
  }

  &#slide14 {
    .slide14 {
      display: flex;
    }
  }

  &#slide15 {
    .slide15 {
      display: flex;
    }
  }

  &#slide16 {
    .slide16 {
      display: flex;
    }
  }

  &#slide17 {
    .slide17 {
      display: flex;
    }
  }

  &#slide18 {
    .slide18 {
      display: flex;
    }
  }

  &#slide19 {
    .slide19 {
      display: flex;
    }
  }

  &#slide20 {
    .slide20 {
      display: flex;
    }
  }
}
